.skill {
  width: 250px;
  margin-bottom: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  height: 60px;
  width: 60px;
  background-color: lightpink;
}


@media screen and (max-width: 600px) {
  .skill {
    width: 100%;
    }
 }