.remoteBlock {
  /* min-height: 15vh; */
  background-color: #54595F;
}

.remoteContainer {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.title h2{
  margin: 15px 0 15px 0;
}

.button {
  margin-bottom: 20px;
}