.remoteBlock {
  /* min-height: 15vh; */
  background-color: #54595f;
}

.remoteContainer {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.title h2 {
  margin: 15px 0 15px 0;
}

.button {
  display: inline-block;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.78) 0px 10px 10px -8px;
  cursor: pointer;
  padding: 0.8em 2.1em 0.8em 2.1em;
  margin-bottom: 0.75em;
  text-decoration: none;
 color: rgb(255, 255, 255);
}
