.projectsBlock {
  height: 80vh;
  background-color: #bed1b5;
}

.projectsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: lightgrey;
}

.projects {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}